<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prj_lbruxa.My.MySettings.cad_userConnectionString"
            connectionString="Data Source=LAPTOP-J94SOP8M\MSSQLSERVER01;Initial Catalog=cad_user;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="prj_lbruxa.My.MySettings.cad_userConnectionString1"
            connectionString="Data Source=DELL;Initial Catalog=cad_user;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>